.flex {
	display: flex;
}

.flex-column {
	flex-direction: column;
	display: flex;
}

.flex-row {
	flex-direction: row;
	display: flex;
}

.hidden {
  display: none;
}

.pointer {
  cursor: pointer;
}

.shadow {
  box-shadow: 2px 2px 2px $shadow-background;
}
