html,
body,
.react-root {
	position: relative;
	overflow: hidden;
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
}

*,
*:after,
*:before {
  -webkit-tap-highlight-color: $transparent-background;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

ol,
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
