.app__header {
	position: absolute;
	height: 50px;
	width: 100%;
	left: 0;
	top: 0;
}

.app__body {
	position: absolute;
	width: 100%;
	top: 50px;
	bottom: 0;
	left: 0;
}

.inner {
	position: relative;
	margin: 0 auto;
	width: 100%;
}

@media (min-width: $mobile-breakpoint) {
	.inner {
		max-width: 1024px;
		width: 95%;
	}
}

@media (min-width: 1400px) {
	.inner {
		max-width: 1200px;
		width: 75%;
	}
}
