extends ../../core/views/core.pug

block head
	//- Inline styles if there are any
	if css
		style
			!= css
	//- Add common script in head
	script(src=commonjs)

block content
	script(src=mainjs, async)
