@import '../shared/scss/_variables';
@import '../shared/scss/_base';
@import '../shared/scss/_layout';
@import '../shared/scss/_atomic';

.login__container {
	transform: translate(-50%, -50%);
	position: absolute;
	padding: 10px 20px;
	width: 300px;
	left: 50%;
	top: 50%;
}

.login__form {
	align-items: center;
	width: 100%;
}

.login__form__input {
	width: 80%;
}

.login__actions {
	justify-content: space-between;
	margin: 20px 0;
	width: 80%;
}

@media (min-width: $mobile-breakpoint) {
	.login__container {
		width: 450px;
	}
	.login__actions {
		width: 60%;
	}
}
